*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
  padding-block-end: 2px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  inline-size: 200px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 3px;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  padding-block-end: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  line-height: .9;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  inline-size: 100%;
  position: relative;
  max-block-size: 386px;
  overflow: hidden;
}
.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
  padding-block-end: 5px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  inline-size: fit-content;
}

.search-form__label-text {
  padding-inline-start: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding-block-end: 5px;
}

.search-form__pseudo-checkbox {
  display: block;
  inline-size: 19px;
  block-size: 19px;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  display: block;
  margin: 1px;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.search-form__textfield {
  box-sizing: border-box;
  border-inline: none;
  border-block: 1px solid #fff;
  padding-block: 2.5px;
  font-family: inherit;
  background-color: transparent;
  font-size: 18px;  
  block-size: 27px;
  inline-size: 225px;
  color: #fff;
}

.search-form__textfield::placeholder {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: rgba(255 255 255 /.7);
}

.search-form__textfield:active  {
  outline: 1px solid #fff;
  border: none;
  text-decoration: none;
  padding: 0;
}

.title {
  font-size: 75px;
  line-height: .94;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
}

.button {
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  border: 1px solid currentColor;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}

.button:active {
  background-color: #545050;
}

.more-button {
  inline-size: 100%;
  padding-block: 6px;
}

.search-form__textfield:focus,
.button:focus,
.search-form__label:focus,
.content__card-link:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible),
.search-form__label:has(.search-form__checkbox:focus-visible),
.content__card-link:focus-visible,
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text,
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}
